<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <app-header-component></app-header-component>
    <div class="demo-drawer mdl-layout__drawer mdl-color--deep-purple-700 mdl-color-text--white">
        <header class="demo-drawer-header">
            <span class="mdl-layout-title title"><img src="assets/Anurag-logo.png" alt="logo"></span>
        </header>
        <app-sidebar></app-sidebar>
    </div>
    <!-- <main class="mdl-layout__content mdl-color--grey-100">
        <div class="table-1" *ngFor="let x of timeTable">
            <div class="time-table-title">
                <h4>{{x.LAB_NAME}}</h4>
                <h2>TIME TABLE (2017-2018)</h2>
                <h4>(SEMESTER-II)</h4>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>DAY</th>
                        <th>{{x.LAB_TIME}}</th>
                        <th>{{x.LAB_TIME}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{x.LAB_DAY}}</td>
                        <td>{{x.SUBJECT}}</td>
                        <td>III-A DWDM LAB</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main> -->
    <main class="mdl-layout__content mdl-color--grey-100">
        <!--<div class="table-1" *ngFor="let tt of timeTable">
            <div class="time-table-title">
                <h4>LAB - {{tt.LAB_ID}} ({{tt.LAB_ROOM_NO}})</h4>
                <h2>TIME TABLE (2017-2018)</h2>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>DAY</th>
                        <th>9:50 AM - 12:20 PM</th>
                        <th>1:10 PM – 3:40 PM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>MBA I/I -B CAB Lab</td>
                        <td>III-A DWDM LAB</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>III-C DWDM LAB</td>
                        <td>III-B DWDM LAB</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td></td>
                        <td>III-A&amp;C PE-III LAB</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td></td>
                        <td>III-D VAC</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td></td>
                        <td>III-D DWDM LAB</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>III-A VAC</td>
                        <td>Seminar</td>
                    </tr>
                </tbody>
            </table>
        </div>-->
		 <div class="table-1">
            <div class="time-table-title">
                <h4>LAB - I (A-201)</h4>
                <h2>TIME TABLE (2017-2018)</h2>
                <h4>(SEMESTER-II)</h4>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>DAY</th>
                        <th>9:50 AM - 12:20 PM</th>
                        <th>1:10 PM – 3:40 PM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>MBA I/I -B CAB Lab</td>
                        <td>III-A DWDM LAB</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>III-C DWDM LAB</td>
                        <td>III-B DWDM LAB</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td></td>
                        <td>III-A&amp;C PE-III LAB</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td></td>
                        <td>III-D VAC</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td></td>
                        <td>III-D DWDM LAB</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>III-A VAC</td>
                        <td>Seminar</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-1">
            <div class="time-table-title">
                <h4>LAB - II (A-205)</h4>
                <h2>TIME TABLE (2017-2018)</h2>
                <h4>(SEMESTER-II)</h4>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>DAY</th>
                        <th>9:50 AM - 12:20 PM</th>
                        <th>1:10 PM – 3:40 PM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td></td>
                        <td>II-A JP LAB</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>III-B&amp;D PE-III LAB</td>
                        <td>II-B JP LAB</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td></td>
                        <td>III-A&amp;C PE-III LAB</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>II-C JP LAB</td>
                        <td>II-D JP LAB</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>II-C VAC</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>III-A VAC</td>
                        <td>Seminar</td>
                    </tr>
                </tbody>
            </table>
        </div>
		<div class="table-1">
            <div class="time-table-title">
                <h4>LAB - III (A-306)</h4>
                <h2>TIME TABLE (2017-2018)</h2>
                <h4>(SEMESTER-II)</h4>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>DAY</th>
                        <th>9:50 AM - 12:20 PM</th>
                        <th>1:10 PM – 3:40 PM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td></td>
                        <td>II-D DBMS LAB</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>III-B&amp;D PE-III LAB</td>
                        <td>II-D VAC</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>MBA I/I -A CAB Lab<br>(9:00am - 11:30am)</td>
                        <td>II-C DBMS LAB</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td></td>
                        <td>II-B DBMS LAB</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td></td>
                        <td>II-A DBMS LAB</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>III-C VAC</td>
                        <td>Seminar</td>
                    </tr>
                </tbody>
            </table>
        </div>
		<div class="table-1">
            <div class="time-table-title">
                <h4>COMPUTER CENTRE-1(CC-1)[D 301]</h4>
                <h2>TIME TABLE ACADEMIC YEAR 2017-18</h2>
                <h4>I B. Tech II Semester COMPUTER PROGRAMMING-II LAB</h4>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>DAY/TIME</th>
                        <th>9:00 AM - 11:30 AM</th>
                        <th>11:30 AM <br> – <br> 12:20 PM</th>
                        <th>12:20 PM <br> – <br> 1:10 PM</th>
                        <th>1:10 PM – 3:40 PM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>MECH-A<br>( Mr. G. Balakrishna )</td>
                        <td rowspan="6" class="lunch">
						   <span> L </span>
						   <span> U </span>
						   <span> N </span>
						   <span> C </span>
						   <span> H </span>
						</td>
                        <td></td>
                        <td>MECH-D <br> (Mr. J. Shiva Prashanth)</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>CIVIL-B <br> ( Mr. R. Ravinder Naik )</td>
                        <td></td>
                        <td>CIVIL-A <br> ( Mr. V. Ramakrishna)</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>CHEMICAL<br>( Mr. K. Raghavendra Rao )</td>
                        <td></td>
                        <td>EEE-A <br> (Mrs. P. Srilatha)</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>CIVIL-C <br> ( Mr. R. Ravinder Naik )</td>
                        <td></td>
                        <td>MECH-C <br>( Mr. C. Ramakrishna )</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>MECH-B <br>( Mr. G. Balakrishna )</td>
                        <td></td>
                        <td>EEE-B <br>(Ms. A. Durga Bhavani )</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td></td>
                        <td></td>
                       <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
		<div class="table-1">
            <div class="time-table-title">
                <h4>CCOMPUTER CENTRE – II (CC-II) [D 308]</h4>
                <h2>TIME TABLE ACADEMIC YEAR 2017-18</h2>
                <h4>I B. Tech II Semester COMPUTER PROGRAMMING – II LAB</h4>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>DAY/TIME</th>
                        <th>9:00 AM - 11:30 AM</th>
                        <th>11:30 AM <br> – <br> 12:20 PM</th>
                        <th>12:20 PM <br> – <br> 1:10 PM</th>
                        <th>1:10 PM – 3:40 PM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>CSE-C<br>(Mrs. P.Rajeshwari )</td>
                        <td rowspan="6" class="lunch">
						   <span> L </span>
						   <span> U </span>
						   <span> N </span>
						   <span> C </span>
						   <span> H </span>
						</td>
                        <td></td>
                        <td>CSE-D<br> (Mr. P. Ravinder Rao)</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>CSE-A <br> ( Mr.P. Rajashekar Reddy )</td>
                        <td></td>
                        <td>IT-B<br> (Mr. B. Ravi Raju)</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>ECE-- B <br>( Mr. V. Amarnadh)</td>
                        <td></td>
                        <td>ECE-A<br> (Mrs. A. Jyothi)</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>CSE-B <br> (Dr. T. Chandrashekar Reddy)</td>
                        <td></td>
                        <td>ECE-D<br>Mr. P. Ravinder Rao)</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>ECE-C <br>( Mr. D.V.R.Prasad)</td>
                        <td></td>
                        <td>IT-A <br>( Mrs. D. Lakshmi Padmaja )</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td></td>
                        <td></td>
                       <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
		<div class="table-1">
            <div class="time-table-title">
                <h4>LAB - IV (A-105)</h4>
                <h2>TIME TABLE (2017-2018)</h2>
                <h4>(SEMESTER-II)</h4>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>DAY</th>
                        <th>9:50 AM - 12:20 PM</th>
                        <th>1:10 PM – 3:40 PM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>MECH VAC</td>
                        <td>Projects</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>MECH VAC</td>
                         <td>Projects</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>MECH VAC</td>
                        <td>II-B VAC</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>MECH VAC</td>
                         <td>II-A VAC</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>M.Tech(CSE/CS)1/1<br> ADSA Lab</td>
                         <td>Projects</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>MECH VAC</td>
                         <td>Projects</td>
                    </tr>
                </tbody>
            </table>
        </div>
       
    </main>